.button-invisible {
    background-color: transparent;
    opacity: 0;
    border: none;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.button-invisible:hover, .button-invisible:focus {
    opacity: 0.2; /* Ajusta esto según lo visible que quieras que sea el botón al interactuar */
    box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.7); /* Color amarillo para el efecto de brillo */
    cursor: pointer;
}